body {
    margin: 0 auto;
    font-size: 16px;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #000;
}
html, body, #root {
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}
::selection {
    background-color: #2196f3;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #000;
}

a {
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    outline: 0;
    color: #000;
    text-decoration: none;
}

a:hover {
    outline: none;
    color: #1d1d1d;
    text-decoration: none;
}

.clear {
    clear: both;
}

img:not(table img) {
    max-width: 100%;
}

iframe {
    border: 0;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

p {
    font-size: 16px;
    color: #757576;
}

figure {
    margin: 0 auto;
    display: block;
    text-align: center;
}

body.scroll-off {
    overflow: hidden;
}

.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

.form-control::-webkit-input-placeholder {
    color: #9C9C9C;
}

.form-control::-moz-placeholder {
    color: #9C9C9C;
}

.form-control:-ms-input-placeholder {
    color: #9C9C9C;
}

.form-control:-moz-placeholder {
    color: #9C9C9C;
}


/*==================== User Dropdown Start ===================*/

.user_dropdown {
    display: inline-block;
}

.user_dropdown>a {
    color: #494949;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.user_dropdown img {
    height: 35px;
    width: 35px;
    min-height: 35px;
    min-width: 35px;
    border-radius: 50%;
}

.user_dropdown .dropdown-menu.show {
    display: block;
    left: auto;
    width: 160px;
    overflow-x: hidden;
    padding-bottom: 0;
    margin-top: 10px;
    opacity: 1;
    visibility: visible;
    background-color: #fff;
    color: rgba(255, 255, 255, 0.6);
    right: 1px;
    box-shadow: 0 5px 12px rgba(60, 64, 67, 0.15);
    font-size: 12px;
    border-radius: 9px;
    border: 0;
}

.user_name>div {
    white-space: nowrap;
    max-width: calc(160px - 10px);
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    color: #494949;
    text-transform: capitalize;
    font-size: 15px;
}

.user_name {
    padding: 0 10px;
    border-bottom: 1px solid #e9ecef;
}

.user_name small {
    color: #a2a2a2;
    text-transform: lowercase;
}

.user_name .user_email {
    margin-top: -10px;
}

.user_dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user_dropdown ul li {
    display: block;
}

.user_dropdown ul li a {
    color: #494949;
    text-transform: capitalize;
    font-size: 14px;
    padding: 5px 10px;
    /* padding-left: 20px; */
    display: block;
    border-bottom: 1px solid #e9ecef;
}

.user_dropdown ul li a i {
    margin-right: 5px;
}

.user_dropdown ul li a:hover {
    color: #1284e0;
}

/*==================== User Dropdown End ===================*/


/* *** loader css start ****  */

/* .loader-wrapper {
    background: rgba(0, 0, 0, 0.90);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
}

.loader {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
} */

.loader:before {
    content: "";
    width: 100px;
    height: 100px;
    border: 5px solid rgba(0, 0, 0, 0.05);
    border-top-color: #000;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
    display: block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader img {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* *** loader css end  ****  */


/*==================== Header Start ===================*/

#header {
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
    background: 0 0 !important;
    background-color: #fff !important;
}

#header.is-sticky {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    height: 65px;
    border-bottom: 1px solid #ededed;
}

#header.is-sticky.awake {
    transform: translateY(0%);
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

#header.is-sticky.inner_pages_head,
#header.inner_pages_head {
    height: 65px;
}

#header>.container-fluid>.navbar {
    padding-left: 0;
    padding-right: 0;
}

#header .navbar-brand img {
    height: 45px;
    width: auto;
}

#header .navbar-expand-lg .navbar-nav .nav-item {
    margin-right: 25px;
}

#header .navbar-expand-lg .navbar-nav .nav-item:last-child {
    margin-right: 0px;
}

#header .nav-link {
    position: relative;
    padding: 0;
}

#header .navbar-expand-lg .navbar-nav .nav-link:hover,
#header .navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: #1284e0;
}

#header .navbar-expand-lg .navbar-nav .nav-link:hover:before,
#header .navbar-expand-lg .navbar-nav .nav-item.active .nav-link:before {
    color: #1284e0;
    transform: scaleX(1);
}

#header .navbar-expand-lg .navbar-nav .nav-link:before {
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background: #1284e0;
    transform: scaleX(0);
    content: "";
    position: absolute;
    transition: transform 0.5s ease;
}

#header .dropdown-toggle::after {
    border: none;
    /* height: 8px;
  width: 11px; */
    /* background-image: url(../img/drop_arrow.png); */
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-top: 3px;
}

#header .extra_nav {
    margin-left: 30px;
}

#header .navbar-expand-lg .extra_nav .navbar-nav .nav-item {
    margin-right: 10px;
}


#header .extra_nav .nav-item:list-child {
    margin-right: 0px;
}


#header .extra_btn:hover {
    background-color: rgba(255, 255, 255, 0.24);
}

#header .header_filled_btn {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 15px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    background-color: #1284e0;
    color: #fff;
    border: 1px solid #1284e0;
}

#header .header_filled_btn:hover {
    background-color: #fff;
    color: #1284e0;
}

#header .header_border_btn {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 15px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    background-color: #fff;
    color: #1284e0;
    border: 1px solid #1284e0;
}

#header .header_border_btn:hover {
    background-color: #1284e0;
    color: #fff !important;
}

.header_border_btn:before,
.header_filled_btn:before {
    display: none;
}

#header .flag_ico {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

#header .navbar-expand-lg .navbar-nav .nav-link.lang_drop {
    padding-left: 32px;
    padding-right: 5px;
    width: auto;
    font-weight: 400;
    color: #000;
}


#header .navbar-expand-lg .navbar-nav .nav-link.lang_drop img {
    width: 21px;
    height: auto;
    vertical-align: text-bottom;
}

#header .for_mobile {
    display: none;
}

#header .for_desktop {
    display: block;
}

#header .dropdown-item {
    font-weight: 300;
}


/*#header .dropdown-item:hover {
    background-color: #30383d;
    color: rgba(255,255,255,0.60);
}*/

.langugae_filter {
    position: relative;
}

.lang_dropdown {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 100px;
    background-color: #fff;
    color: rgba(255, 255, 255, 0.6);
    right: 1px;
    box-shadow: 0 5px 12px rgba(60, 64, 67, 0.15);
    font-size: 12px;
    border-radius: 9px;
    border: 0;
    margin: 0;
    padding: 4px 11px 6px 10px;
}

.lang_country {
    position: relative;
    cursor: pointer;
}

.dropdown-toggle.lang_drop {
    border: 0;
    background: transparent;
}

#header .navbar-expand-lg .navbar-nav .currency-filter .nav-link.lang_drop {
    padding: 8px 0 8px 36px;
}

#header .navbar-expand-lg .navbar-nav .nav-link.lang_drop {
    padding: 8px 0 8px 36px;
    color: #8B96A5;
}

.lang_country {
    position: relative;
    padding: 5px 0px 5px 34px;
    color: #494949;
    border-bottom: 1px solid #e9e9e9;
}

.lang_country .flag_ico img {
    max-width: 19px;
}

.lang_country:last-child {
    border-bottom: 0;
}

.lang_country:hover {
    color: #1284e0;
    background-color: transparent;
}


.navbar-brand {
    font-size: 0;
    margin: 0 auto 0 0;
}


.navbar {
    padding: 0;
    justify-content: right;
}


#top-button {
    display: inline-block;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#top-button.show {
    opacity: 1;
    visibility: visible;
}

.back_top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #2196f3;
    display: none;
    border: #2196f3 1px solid;
    z-index: 1;
    border-radius: 4px
}

.back_top span {
    position: relative;
    display: block;
    color: #fff;
    width: 100%;
    height: 100%;
}

.back_top span svg {
    width: 22px;
    height: 21px;
    position: absolute;
    left: 0;
    margin: 0 auto;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.back_top:hover {
    border-color: #2196f3;
    color: #2196f3;
    background-color: #fff;
}

.back_top:hover span {
    color: #2196f3;
}

.footer_wrapper {
    text-align: center;
    padding: 16px 0;
    border-top: 1px solid #e4ecf2;
}
.copyright {
	font-size: 13px;
	color: #8b99a8;
}
/* chatbox */
:root {
    /* --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    /* --msger-bg: #fff; */
    --border: 0px solid #f1f1f1;
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;
}
input:focus-visible {
    outline: none;
    box-shadow: none;
}
.msgBtnSvg svg{
    width: 15px;
}
  .msger {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* max-width: 867px; */
    /* margin: 25px 10px; */
    /* height: calc(100vh - 110px); */
    /* border: var(--border); */
    /* border-radius: 5px; */
    /* background: var(--msger-bg); */
    /* box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);*/
  }
  
  .msger-header {
        margin-top: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    padding-block-start: 20px;
    background-color: transparent;
    min-height: 200px;
    max-height: 575px;
    height: 55%;
    z-index: 3;
    box-sizing: border-box;
    /* box-shadow: white 0px 0px 15px 15px; */
  }
  .msger-header-bg{
    /* position: absolute;
    top: -50%;
    bottom: -50%;
    pointer-events: none;
    background: radial-gradient(circle at calc(35%) 55%, rgba(0, 189, 255, 0.48), transparent 35%), radial-gradient(circle at calc(65%) 55%, rgba(42, 0, 255, 0.26), transparent 35%), transparent;
    width: 100%;
    min-width: 350px; */
  }
  .msger-header-title {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    height: 100%;
    z-index: 1;
}
.css-aihmm {
    animation: 2s linear 0s infinite normal none running animation-1xwdn1n;
    height: 70%;
    transform-origin: center center;
    position: absolute;
    inset: 0px;
    margin: auto;
}
.spinner {
    display: block;
    width: 38px;
    height: 38px;
    position: absolute;
    top: 8px;
    left: calc(50% - 17px);
    background: transparent;
    box-sizing: border-box;
    border-top: 4px solid white;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-radius: 100%;
    animation: spin 0.6s ease-out infinite;
    background: #f1f2f6e8;
}
@keyframes spin {
	100% {transform: rotate(360deg)}
}
#video-element{
    position: absolute;
    border-radius: 50%;
    display: block;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: initial;
    z-index: 2;
    opacity: 1;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out 0s;
    /*box-shadow: 0 0 11px 0px #0000009c;*/
    box-shadow:0 0 0 2px hsl(0deg 0% 100% / 43%), 0 0 0 5px hsl(0deg 0% 100% / 0%), 0 0 0 16px hsl(0deg 0% 100% / 8%), 0 0 0 23px hsl(0deg 0% 100% / 9%), 0 0 0 30px hsl(0deg 0% 90% / 11%);
}
body{
    /*background-image: url(../img/body-bg.png);*/
    background-image: url(../img/Sfondo.png);    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.msger-chat .msg:first-child{
    margin: 0px auto 0px 0px;
    margin-top: auto;
}
.msger-chat {
    position: relative;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    gap: 10px;
    overflow: auto;
    bottom: 0px;
    transition: bottom 0.25s ease-in-out 0s;
    /* justify-content: flex-end; */
}
  .msger-chat::-webkit-scrollbar {
    width: 6px;
  }
  .msger-chat::-webkit-scrollbar-track {
    background: #ddd;
  }
  .msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
  }
  .msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1px;
  }
  .msg:last-of-type {
    margin: 0;
  }
  .msg-img {
    width: 50px;
    height: 50px;
    min-width: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  .msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
    background: rgb(241, 242, 246);
    border-radius: 16px 16px 16px 4px;
    color: rgb(60, 60, 60);
    margin: 0px auto 0px 0px;
    max-width: 85%;
    padding: 15px;
    box-sizing: border-box;
    word-break: break-word;
    /* white-space: pre-wrap; */
    line-height: 120%;
  }
  .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
  }
  .msg-info-time {
    font-size: 0.85em;
  }
  
  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }
  .fixedLogo {
    max-width: 110px;
    height: auto;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 1px;
    left: 16px;
    cursor: pointer;
}
.aiName {
    background-color: white;
    /* border: 1px solid rgb(228, 229, 234); */
    border-radius: 100vh;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-height: 38px;
    -webkit-box-align: center;
    align-items: center;
    max-width: 300px;
    z-index: 32;
    cursor: pointer;
    line-height: 2;
}
  .right-msg {
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    background: rgb(116, 89, 254);
    color: #fff;
    border-bottom-right-radius: 0;
    margin-left: auto;
    margin-right: 0;
    border-radius: 16px 4px 16px 16px;
  }
  .right-msg .msg-img {
    margin: 0 0 0 10px;
  }
  .msgerBox{
    position: relative;
    flex: 1 1 0%;
    overflow: hidden;
    background:transparent;
    height: 100%;
    max-width: 790px;
    margin: 0px auto;
  }
  .msger-inputarea {
    opacity: 1;
    transition: opacity 0.05s ease-in-out 0s;
    display: flex;
    padding: 10px 10px 20px;
    gap: 10px;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 6px;
  }
  .talkingAI img{
    width: 90px;
    height: 90px;
    object-fit: cover;
}
  .msger-inputarea .msger-input {
    /* padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em; */
  }
  .msgBtnSvg{
    font-size: 1em;
    display: block;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 100vh;
    position: relative;
    background-color: rgb(241, 242, 246);
  }
  .msger-input {
    flex: 1;
    display: inline-block;
    border: 1px solid rgb(192, 191, 189);
    border-radius: 20px;
    padding: 16px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    min-height: 50px;
    max-height: 100px;
    overflow: auto;
    word-break: break-word;
    white-space: pre-wrap;
  }
  .msger-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
  }
  .msger-send-btn:hover {
    background: rgb(0, 180, 50);
  }
  
  .msger-chat {
    /* background-color: #fcfcfe;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='260' height='260' viewBox='0 0 260 260'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23dddddd' fill-opacity='0.4'%3E%3Cpath d='M24.37 16c.2.65.39 1.32.54 2H21.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06A5 5 0 0 1-17.45 28v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H-20a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1L.9 19.22a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0L2.26 23h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM-13.82 27l16.37 4.91L18.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H-13.1z'/%3E%3Cpath id='path6_fill-copy' d='M284.37 16c.2.65.39 1.32.54 2H281.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06a5 5 0 0 1-2.24-8.94v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H240a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM246.18 27l16.37 4.91L278.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H246.9z'/%3E%3Cpath d='M159.5 21.02A9 9 0 0 0 151 15h-42a9 9 0 0 0-8.5 6.02 6 6 0 0 0 .02 11.96A8.99 8.99 0 0 0 109 45h42a9 9 0 0 0 8.48-12.02 6 6 0 0 0 .02-11.96zM151 17h-42a7 7 0 0 0-6.33 4h54.66a7 7 0 0 0-6.33-4zm-9.34 26a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-7a7 7 0 1 1 0-14h42a7 7 0 1 1 0 14h-9.34zM109 27a9 9 0 0 0-7.48 4H101a4 4 0 1 1 0-8h58a4 4 0 0 1 0 8h-.52a9 9 0 0 0-7.48-4h-42z'/%3E%3Cpath d='M39 115a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm6-8a6 6 0 1 1-12 0 6 6 0 0 1 12 0zm-3-29v-2h8v-6H40a4 4 0 0 0-4 4v10H22l-1.33 4-.67 2h2.19L26 130h26l3.81-40H58l-.67-2L56 84H42v-6zm-4-4v10h2V74h8v-2h-8a2 2 0 0 0-2 2zm2 12h14.56l.67 2H22.77l.67-2H40zm13.8 4H24.2l3.62 38h22.36l3.62-38z'/%3E%3Cpath d='M129 92h-6v4h-6v4h-6v14h-3l.24 2 3.76 32h36l3.76-32 .24-2h-3v-14h-6v-4h-6v-4h-8zm18 22v-12h-4v4h3v8h1zm-3 0v-6h-4v6h4zm-6 6v-16h-4v19.17c1.6-.7 2.97-1.8 4-3.17zm-6 3.8V100h-4v23.8a10.04 10.04 0 0 0 4 0zm-6-.63V104h-4v16a10.04 10.04 0 0 0 4 3.17zm-6-9.17v-6h-4v6h4zm-6 0v-8h3v-4h-4v12h1zm27-12v-4h-4v4h3v4h1v-4zm-6 0v-8h-4v4h3v4h1zm-6-4v-4h-4v8h1v-4h3zm-6 4v-4h-4v8h1v-4h3zm7 24a12 12 0 0 0 11.83-10h7.92l-3.53 30h-32.44l-3.53-30h7.92A12 12 0 0 0 130 126z'/%3E%3Cpath d='M212 86v2h-4v-2h4zm4 0h-2v2h2v-2zm-20 0v.1a5 5 0 0 0-.56 9.65l.06.25 1.12 4.48a2 2 0 0 0 1.94 1.52h.01l7.02 24.55a2 2 0 0 0 1.92 1.45h4.98a2 2 0 0 0 1.92-1.45l7.02-24.55a2 2 0 0 0 1.95-1.52L224.5 96l.06-.25a5 5 0 0 0-.56-9.65V86a14 14 0 0 0-28 0zm4 0h6v2h-9a3 3 0 1 0 0 6H223a3 3 0 1 0 0-6H220v-2h2a12 12 0 1 0-24 0h2zm-1.44 14l-1-4h24.88l-1 4h-22.88zm8.95 26l-6.86-24h18.7l-6.86 24h-4.98zM150 242a22 22 0 1 0 0-44 22 22 0 0 0 0 44zm24-22a24 24 0 1 1-48 0 24 24 0 0 1 48 0zm-28.38 17.73l2.04-.87a6 6 0 0 1 4.68 0l2.04.87a2 2 0 0 0 2.5-.82l1.14-1.9a6 6 0 0 1 3.79-2.75l2.15-.5a2 2 0 0 0 1.54-2.12l-.19-2.2a6 6 0 0 1 1.45-4.46l1.45-1.67a2 2 0 0 0 0-2.62l-1.45-1.67a6 6 0 0 1-1.45-4.46l.2-2.2a2 2 0 0 0-1.55-2.13l-2.15-.5a6 6 0 0 1-3.8-2.75l-1.13-1.9a2 2 0 0 0-2.5-.8l-2.04.86a6 6 0 0 1-4.68 0l-2.04-.87a2 2 0 0 0-2.5.82l-1.14 1.9a6 6 0 0 1-3.79 2.75l-2.15.5a2 2 0 0 0-1.54 2.12l.19 2.2a6 6 0 0 1-1.45 4.46l-1.45 1.67a2 2 0 0 0 0 2.62l1.45 1.67a6 6 0 0 1 1.45 4.46l-.2 2.2a2 2 0 0 0 1.55 2.13l2.15.5a6 6 0 0 1 3.8 2.75l1.13 1.9a2 2 0 0 0 2.5.8zm2.82.97a4 4 0 0 1 3.12 0l2.04.87a4 4 0 0 0 4.99-1.62l1.14-1.9a4 4 0 0 1 2.53-1.84l2.15-.5a4 4 0 0 0 3.09-4.24l-.2-2.2a4 4 0 0 1 .97-2.98l1.45-1.67a4 4 0 0 0 0-5.24l-1.45-1.67a4 4 0 0 1-.97-2.97l.2-2.2a4 4 0 0 0-3.09-4.25l-2.15-.5a4 4 0 0 1-2.53-1.84l-1.14-1.9a4 4 0 0 0-5-1.62l-2.03.87a4 4 0 0 1-3.12 0l-2.04-.87a4 4 0 0 0-4.99 1.62l-1.14 1.9a4 4 0 0 1-2.53 1.84l-2.15.5a4 4 0 0 0-3.09 4.24l.2 2.2a4 4 0 0 1-.97 2.98l-1.45 1.67a4 4 0 0 0 0 5.24l1.45 1.67a4 4 0 0 1 .97 2.97l-.2 2.2a4 4 0 0 0 3.09 4.25l2.15.5a4 4 0 0 1 2.53 1.84l1.14 1.9a4 4 0 0 0 5 1.62l2.03-.87zM152 207a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6 2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-11 1a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-6 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3-5a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-8 8a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm0 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4 7a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5-2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-5-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-24 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm16 5a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm7-5a7 7 0 1 1-14 0 7 7 0 0 1 14 0zm86-29a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1 246 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM275 214a29 29 0 0 0-57.97 0h57.96zM72.33 198.12c-.21-.32-.34-.7-.34-1.12v-12h-2v12a4.01 4.01 0 0 0 7.09 2.54c.57-.69.91-1.57.91-2.54v-12h-2v12a1.99 1.99 0 0 1-2 2 2 2 0 0 1-1.66-.88zM75 176c.38 0 .74-.04 1.1-.12a4 4 0 0 0 6.19 2.4A13.94 13.94 0 0 1 84 185v24a6 6 0 0 1-6 6h-3v9a5 5 0 1 1-10 0v-9h-3a6 6 0 0 1-6-6v-24a14 14 0 0 1 14-14 5 5 0 0 0 5 5zm-17 15v12a1.99 1.99 0 0 0 1.22 1.84 2 2 0 0 0 2.44-.72c.21-.32.34-.7.34-1.12v-12h2v12a3.98 3.98 0 0 1-5.35 3.77 3.98 3.98 0 0 1-.65-.3V209a4 4 0 0 0 4 4h16a4 4 0 0 0 4-4v-24c.01-1.53-.23-2.88-.72-4.17-.43.1-.87.16-1.28.17a6 6 0 0 1-5.2-3 7 7 0 0 1-6.47-4.88A12 12 0 0 0 58 185v6zm9 24v9a3 3 0 1 0 6 0v-9h-6z'/%3E%3Cpath d='M-17 191a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2H3a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2H4zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1-14 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM15 214a29 29 0 0 0-57.97 0h57.96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  }
  
/* chatbox */
/* login */
.logincard input {
    padding: 10px;
    margin-bottom: 12px;
    border: 2px solid #ddd; /* Border color input */
    border-radius: 8px; /* Border radius input */
    transition: border-color 0.3s ease-in-out;
    outline: none;
    color: #333;
    background-color: #f4f4f4; /* Warna input */
  }
  
  .logincard input:focus {
    border-color: #ff9900; /* Warna input saat focus */
  }
  
  .logincard button {
    background-color: #ff9900; /* Warna button */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 8px; /* Border radius button */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .logincard button:hover {
    background-color: #ff6600; /* Warna button saat hover */
  }
  .logincard.card{
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}
  .loginform{
    align-items: center;
    justify-content: center;
    max-width: 550px;
    margin: auto;
    box-shadow: none;
    border: 0;   
  }
/* login */



/**Aggiunta stile input**/
.msger-input,
.msger-inputarea button{
   /* background: transparent;
    border: 1px solid #ffffff5e;
    --webkit-backdrop-filter: blur(30px);
    background-color: rgb(255 255 255 / 64%);*/
    /*color: rgb(255 255 255 / 85%);*/
    box-shadow: rgb(255 255 255 / 50%) 0px 0px 5px -2px;
  }

  .msger-input::placeholder{
      /*color:rgb(255 255 255 / 45%)*/
  }

.msg-bubble{
 /*   background: transparent;
    border: 1px solid #ffffff5e;
    / Note: currently only Safari supports backdrop-filter /
    backdrop-filter: blur(30px);
    --webkit-backdrop-filter: blur(30px);
    background-color: rgb(255 255 255 / 20%);
    color:rgb(255 255 255 / 85%);*/
    box-shadow: rgb(255 255 255 / 50%) 0px 0px 5px -2px;
}

.msger-inputarea button svg {
    /*fill: rgb(255 255 255 / 85%);*/
}

/*.weave {
    display: block;
    width: 120px;
    height: 120px;
    border: 4px solid #ffb9ad;
    border-radius: 36px;
    margin: 40px auto;
    position: relative;
    color: #ffb9ad;
    text-align: center;
    font: 700 30px/120px "Quicksand", sans-serif;
}*/
.msger-header-title {
    aspect-ratio: 1 / 1;
    border: 3px solid #ffffff;
    border-radius: 50%;
}
.msger-header-title:before, .msger-header-title:after {
display: block;
    width: calc(100% + 14px);
    height: calc(100% + 30px);
    border: 2px solid #ffffff;
    border-radius: 36px;
    content: "";
    position: absolute;
    top: -14px;
    aspect-ratio: 1 / 1;
    /* left: 1px; */
    border-radius: 50%;
}
.msger-header-title:before {
    -moz-transform: rotate(99deg);
    -ms-transform: rotate(99deg);
    -webkit-transform: rotate(99deg);
    transform: rotate(99deg);
}
.msger-header-title:after {
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}